<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Request Parser Microservice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="styles.css" />
</head>
<body>
    <div class = 'container'>
        <h2>API: Request Header Parser Microservice</h2>
        <h3>Returns your IP address, language and software information.</h3>

    <h4>Example Usage:</h4>
        <code>[base url]/api/whoami</code>
    
    <h4>Example Output:</h4>
        <code>{"ipaddress":"159.20.14.100", "language":"en-US,en;q=0.5", 
            "software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</code>

    </div>
    <div class="footer">
        <p style="text-align:left;">Created by Courtney Landau
            <span style="float:right;">2018</span>
            </p>
    </div>
</body>
</html>